$primary : #2880FC;
$light-grey : #F3F3F5;
$red : #EA4234;
$green : #58A65F;
$secondary: #FB9F3C;
$gray : #8694AA;
$navy-blue : #031837;
$dark-blue : #233550; //label
$secondary-grey: #adadad;  //registration
$danger: #ff0000;
$input-bg: #FFFFFF;

// border
$border-color: #E5E7EA;

// Form Control
$input-border-color:#ffffff;

// registration page
$btn-hover-bg: #e7081e;
$input-focus-color: #ffffff;
$icon-color: #ffffff;
$registration-input-bg: rgb(0, 0, 0);
$input-placeholder-color: #ffffff;
$input-padding-x: 25px;
$input-border-color: $border-color; //registartion input
$input-color: $input-bg;
// End: registration page

// landing page navbar
$btn-text-color: $input-bg;
$nav-bg: $border-color;
$landing-page-body: $input-bg;
$--bs-btn-active-bg:$danger;

// End: landing page navbar