    <div class="main-container">

        <div class="d-flex flex-column  justify-content-center align-item-center registration m-auto">
            <div class=" brand-logo text-center">
                <figure>
                    <img src="../assets/images/db-icon.png" alt="logo">
                </figure>
                <h6 class="brand-text mt-3">DeskBook</h6>
            </div >
            
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" />
                    <i class="bi bi-person-fill"></i>
                </div>
            </form>
        </div>
    </div>
