// registration  form
.registration-wrapper {
    background-color: rgb(0, 0, 0);
    border-radius: 0.3rem;
    max-width: 450px;
    padding: 0 48px 60px 48px;

    .brand-wrapper {
        padding: 48px 32px;

        .brand-title {
            color: $secondary-grey;
        }
    }
}

.main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.58)), url("../../images/Splash_DRC.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 32px 0px;
    overflow: auto;
}

.form-floating {
    position: relative;
    border: $input-border-color;
    border-radius: 6px;
    box-sizing: border-box;

    .label {
        transform:$form-floating-label-transform;
        color: $secondary-grey ;
        width: fit-content;
        height: fit-content;
        transition: all 0.5s ease-out;

    }

    .form-control {

        background-color: $registration-input-bg;
        color: $input-color;
        box-shadow: $input-focus-box-shadow;
        padding: $input-padding;

    }
}

.form-control:focus~.label,
.form-control:not(:placeholder-shown)~.label {
    top: -30px;
    left: -16px;
    background-color: $registration-input-bg;
    color: $input-placeholder-color;

}


.form-floating:focus-within {
    border-color: red;
}

// icons
.icon {
    color: $icon-color;
    position: absolute;
    top: 13px;
    left: 14px;
    font-size: 20px;
}

.icon-sm {
    font-size: 16px;
    top: 18px;
}

.eye-icon {
    color: $icon-color;
    position: absolute;
    top: 16px;
    right: 14px;
    cursor: pointer;
}

// End: registration  form