$input-focus-box-shadow: none;



// registration  form
.registration-wrapper{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;
    max-width: 450px;
    // max-width: 100%;
    padding: 0 48px 60px 48px;
    .brand-wrapper{
        padding:48px 32px;
    .brand-title{
        color: $secondary-grey;
    }
    }
}
.main-container{
    background-image:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.58)), url("../../images/Splash_DRC.png");

    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 32px 0px;
}

.form-floating {
    position: relative;
    border: $input-border-color;
    border-radius: 6px;
    box-sizing: border-box;

    .label {
        left: 40px;
        top: 16px;
        color: $secondary-grey ;
        width: fit-content;
        height: fit-content;
    }

    .form-control {

        background-color: $registration-input-bg;
        color: white;
        margin-left: 48px;
        border: none;
        box-shadow: $input-focus-box-shadow;
        width: 70%;
    }
}

.form-control:focus~.label,
.form-control:not(:placeholder-shown)~.label {
    top: -7px;
    left: 15px;
    background-color: $registration-input-bg;
    color: $input-placeholder-color;
    transition: all 0.5s ease-in-out;
    
}


.form-floating:focus-within {
    border-color: red;
}

// icons
.icon {
    color: $icon-color;
    position: absolute;
    top: 13px;
    left: 14px;
    font-size: 20px;
}
.icon-sm {
    font-size: 16px;
    top: 18px;
}
.eye-icon {
    color: $icon-color;
    position: absolute;
    top: 16px;
    right: 14px;
    cursor: pointer;
}
.btn-outline {
    color: $btn-danger;
    border: 1px solid $btn-danger;
    border-radius: 7px;
}
.btn-outline:hover {
    color: white;
    border: 1px solid $btn-danger;
    background-color: $btn-danger;
}
.btn-bg {
    background-color: $btn-danger;
    color: white;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: 7px;
}
.btn-bg:hover {
    color: white;
    background-color: $btn-hover-bg;
}


// End: registration  form
