// boootstrap functions
// @import "../node_modules/bootstrap/scss/functions";

@import "../src/assets/scss/base/";

// Required Bootstrap imports
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

// // optional components
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";
// @import "../node_modules/bootstrap/scss/utilities/api";

// // custom styles
// @import "../src/assets/scss/utilities/";
// @import "../src/assets/scss/component/";
// @import "../src/assets/scss/layout/";
// @import "../src/assets/scss/vendor/";
